<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_object.name }}</title>
</head>
<body>
    <header>
        <h1>{{ todo_object.name }}</h1>
    </header>
    <p>
        <a href="{% url 'todo_list_update'  todo_object.id %}">Edit</a>
    </p>
    <p>
        <a href="{% url 'todo_list_delete'  todo_object.id %}">Delete</a>
    </p>
    <h2>Tasks</h2>
    <table>
        <thead>
            <th>Task</th>
            <th>Due Date</th>
        </thead>
        <tbody>
            {% for things in todo_object.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' things.id %}">{{ things.task }}</a></td>
                    <td>{{ things.due_date|date:"M d, o" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
